body{
  text-align: center;
  font-family: Montserrat;
  margin-bottom: 0;
}
.txt1{
  font-weight:600;
  font-size: 40px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.txt2{
  margin-top: 0;
}
span{
  text-decoration-line:underline;
}