
body, html {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.conteiner{
  display: grid;
  justify-content: center;
  grid-template-rows: auto auto;
  border-style: solid;  
  border-color: lightgrey;
  border-radius: 5px;
  border-width: 1px;
  padding: 2%;
  height: max-content;
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0 15px lightgrey;
}

.name{
  display: flex;
  align-items: flex-start;
}
input{
  border-radius: 3px;
  padding: 5px;
  width: 300px;
  border-style: solid;
  border-width: 1px;
  margin-right: 10px;
  margin-bottom: 10px;
}
input:hover{
  background-color: rgb(243, 243, 243);
  transition: 1s;
}

button{
  width: 312px;
  height: 59px;
  border-radius: 3px;
  border-style: solid;
  border-width: 1px;
  background-color: rgb(0,0,0, 0.04);
}
button:hover{
  background-color: rgb(0,0,0, 0.1);
  transition:1s;
}
button:active{
  background-color: rgb(0,0,0, 0.04);
  font-size: large;
  transition: all;
  
}
.section{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
p{
  font-size: 10px;
  text-align: end;
  margin-right: 11px;
  color: rgb(0,0,0, 0.3);
}
